@import "fonts";
$marginLeft: 6vw;
$AbrilFatface: "AbrilFatface";

.app-bg {
  background-color: rgb(27, 28, 32);
}
.hero-ht-img {
  margin: 0;
  padding: 0;
  height: 100vh;
  // width:50vw;
}
.img {
  background-image: url("../images/me2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-attachment: fixed;
  filter: grayscale(100%);
  transition: 0.3s filter ease-in;
}
.img:hover {
  filter: grayscale(0%);
}
.name {
  font-family: "AbrilFatface", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-left: $marginLeft;
}
.crd-shd {
  filter: grayscale(100%);
  transition: 0.4s filter ease-in;
}
.crd-shd:hover {
  filter: grayscale(0%);
  border-radius: 6px !important;
  background-color: #fff;
  box-shadow: 0 1.55rem 1.55rem -1.25rem rgba(0, 0, 0, 0.09);
}
@media all and (min-width: 1024px) {
  .name {
    margin-top: 19vh;
  }
  .con-no {
    margin-left: 4rem;
  }
  .m-social-lnk-toggle {
    margin-top: 25vh;
  }
  .m-t-my-skills {
    margin-top: 10rem;
  }
  .hero-ht {
    height: 100vh;
  }
}
@media all and (max-width: 1024px) {
  .name {
    margin-top: 10vh;
  }
  .d-n-img {
    display: none !important;
  }
  .m-social-lnk-toggle {
    margin-top: 8vh;
  }
  .m-t-my-skills {
    margin-top: 1rem;
  }
  .hero-ht {
    height: 40rem;
  }
}
.clk-f-a {
  cursor: pointer;
}
.link-styles {
  text-decoration: none;
  color: black;
}
.link-styles:hover {
  text-decoration: none;
  color: rgb(70, 66, 66);
}
.desc-w {
  margin-top: 1vh;
  padding: 2vw 6vw;
  font-size: 1.1em;
  font-weight: 330;
}
.my-wrk-lnk {
  margin-left: $marginLeft;
  font-weight: 600;
  font-size: medium;
  margin-top: 10vh;
  cursor: pointer;
}
.m-t-my-work {
  margin-top: 7vh;
  margin-bottom: 20vh;
}
.f-s {
  font-family: "AbrilFatface", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
.img-clr {
  filter: grayscale(100%);
  transition: 0.4s all ease-in;
}
.img-clr:hover {
  filter: grayscale(0%);
  border-radius: 50% !important;
  background-color: #fff;
  box-shadow: 0 1.55rem 1.55rem -1.25rem rgba(0, 0, 0, 0.09);
}
.img-w-h {
  width: auto;
  height: 10rem;
  border-radius: 5px;
}
.img-styles {
  cursor: pointer;
}
.my-wrk-txt {
  font-size: 1.5rem;
  font-family: "AbrilFatface";
  cursor: pointer;
  color: black;
}
.my-wrk-txt:hover {
  text-decoration: none;
  color: rgb(70, 66, 66);
}
.con-me-txt {
  font-family: "AbrilFatface", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-left: $marginLeft;
}
.con-txt {
  font-weight: 600;
  font-size: 1rem;
  // margin-left:2rem
}
.con-no {
  font-weight: 330;
  font-size: 1rem;
  margin-left: 1em;
}
.p-b {
  margin-bottom: 7em;
}

@media all and (min-width: 299px) and (max-device-width: 499px) {
  .m-l {
    margin-left: 2rem;
  }
}
@media all and (min-width: 500px) and (max-device-width: 719px) {
  .m-l {
    margin-left: 2.5rem;
  }
}
@media all and (min-width: 720px) and (max-device-width: 1024px) {
  .m-l {
    margin-left: 3.5rem;
  }
}
@media all and (min-width: 1024px) and (max-device-width: 1600px) {
  .m-l {
    margin-left: 4.8rem;
  }
}
.con-me-txt-mob {
  font-family: "AbrilFatface", Arial, Helvetica, sans-serif;
  font-size: 2em;
}
.con-txt-mob {
  font-weight: 600;
  font-size: 1rem;
}
.con-no-mob {
  color: black;
  font-weight: 200;
  font-size: 1rem;
}
