.bg-white {
  transition: 0.4s;
  background-color: white;
}
.dark {
  transition: 0.4s;
  background-color: rgb(15, 15, 15) !important;
}
.light {
  transition: 0.4s;
  color: #deecee !important;
}
.black {
  color: rgb(0, 0, 0) !important;
}
.gray-scale {
  filter: grayscale(100%);
}
