.light {
  transition: 0.4s;
  background-color: #ffffff;
}
.dark {
  transition: 0.4s;
  background-color: rgb(30, 30, 30) !important;
}
.black {
  color: rgb(0, 0, 0);
}
.gray-scale {
  filter: grayscale(100%);
}
