$justifies: (
  flex-start,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly
);
@each $justify in $justifies {
  .is-#{$justify} {
    display: flex;
    justify-content: $justify;
  }
}
